* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Microsoft JhengHei", sans-serif;

    background: url("../images/background.jpg");

    background-size: cover;

    background-position: center;

    background-attachment: fixed;

    color: white;

}

body::before {

    content: "";

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .45);

    z-index: -1;

}

.navbar {

    background: rgba(20, 20, 20, .75);

    backdrop-filter: blur(12px);

}

.navbar-brand {

    font-size: 30px;

    font-weight: bold;

}

.nav-link {

    font-size: 20px;

    margin-left: 20px;

    color: white !important;

    transition: .3s;

}

.nav-link:hover {

    color: #66b3ff !important;

}

.hero {

    height: 90vh;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    text-align: center;

}

.hero h1 {

    font-size: 70px;

    margin-bottom: 20px;

}

.hero p {

    font-size: 24px;

    margin-bottom: 35px;

}

.btn {

    font-size: 24px;

    padding: 15px 45px;

    border-radius: 15px;

}

.progress {

    height: 35px;

    margin-top: 20px;

}

.progress-bar {

    font-size: 18px;

    font-weight: bold;

}

#battleLog {

    list-style: none;

    padding: 0;

}

#battleLog li {

    background: #222;

    padding: 12px;

    margin-top: 10px;

    border-radius: 10px;

}

.menu {

    display: flex;

    flex-direction: column;

    gap: 25px;

    margin-top: 40px;

}

.menu .btn {

    width: 280px;

    height: 70px;

    font-size: 28px;

    font-weight: bold;

    border-radius: 15px;

    transition: .3s;

}

.menu .btn:hover {

    transform: scale(1.08);

    box-shadow: 0 0 20px rgba(255, 255, 255, .4);

}

.damage {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: red;
    pointer-events: none;
    animation: damageUp .8s forwards;
    z-index: 9999;

}

.heal {
    color: #00ff66;
}

.critical {
    color: gold;
    font-size: 60px;

}

@keyframes damageUp {
    0%{
        opacity:1;
        transform: translate(-50%,-50%);
    }
    100%{
        opacity: 0;
        transform: translate(-50%,-130px);
    }

}
.effect{

height:45px;

font-size:38px;

font-weight:bold;

}

.damage{

color:#ff3b3b;

}

.heal{

color:#00ff66;

}

.critical{

color:gold;

}